body{
	background: #F9F9F9;
}
/*HeaderStyle*/
header{
	background: #E5E5E5;
	width: 100%;
}
.header__container,.main__container,.footer_container{
	font-family: 'Ubuntu', sans-serif;
}
.header__icon{
	position: absolute;
	width: 13%;
	margin-left: 1%;
	display: inline;
}
.header__title{
	padding-top: 3%;
	text-align: center;
	font-weight: bold;
	font-size: 5vw;
}
.header__nav{
	margin-left: 20%;
	padding: 2%;
}
.nav__li{
	display: inline;
}
.nav__li a{
	display: inline;
	font-size: 1.5vw;
	margin-left: 6%;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.nav__li a:hover{
	color: #6E6E6E;
}
/*HeaderStyle*/
/*MainStyle*/
.main__ul{
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.main__item{
	width: 300px;
	height: 400px;
	background: white;
	display: inline-block;
	margin: 0.5%;
	border-radius: 20px;
	border: 2px solid #000000;
}
.main__item:hover{
	scale: 1.05;
	border: 2px solid #585858;
}
.main__img_item{
	margin: 5%;
	width: 270px;
	border-radius: 20px;
}
.main__text_container{
	padding: 6%;
	margin-top: 1.5%;
}
.main__p_itemtext{
	display: block;
	text-align: center;
	font-weight: bold;
}
.main__p_item_text_description{
	text-align: center;
	padding: 3%;
}
/*MainStyle*/
/*FooterStyle*/
footer{
	background-color: #E5E5E5;
  padding: 20px;
  text-align: center;
}
.footer__icon{
	width: 15%;
}
.footer_copyright{
	padding: 1%;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2vw;

}
/*FooterStyle*/